html {
    font-size: 10px;
    background: url("music.jpg");
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: #f8f8ff;
    font-size: 18px;
    font-family: "Arial Rounded MT Bold", serif;
    text-align: center;
    margin-top: 40px;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 600px;
    align-items: center;
    justify-content: center;
}

.key {
    border: 2px solid #f8f8ff;
    border-radius: 4px;
    margin: 10px;
    font-size: 20px;
    padding: 2px 6px;
    transition: all .07s ease;
    width: 50px;
    text-align: center;
    color: black;
    background: rgba(238,237,247,0.4);
    text-shadow: 0 0 1px black;
}
.key:nth-child(odd) {
    width: 100px;
    height: 50px;
}

.playing {
    transform: scale(1.1);
    border-color: #ff8c00;
    box-shadow: 0 0 1px #ff8c00;
}

kbd {
    display: block;
    font-size: 18px;
}
.sound {
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff8c00;
    text-align: center;
}